 @import url('https://fonts.googleapis.com/css?family=Merriweather');
 

*{
	margin: 0;
	padding: 0;
}

footer{
	background-color: #efefef;
	bottom: 0;
	position: absolute;
	width: 100%;
	left: 0;
	height: 35px;
	text-align: center;
	font-size: 15px;
	padding: 5px;
}