
*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}
body{
	color: rgb(255,255,255);
	background-color: rgb(32, 33, 33);

}

.wrap{
	position: absolute;
	display: table-cell;
	border: 1px solid red;
	width: 100%;
	left: 0;
	padding: 5px;
	height: 100%;
}
.quote-container{
	top: 30%;
	border: 1px solid red;
}
